*{
    box-sizing: border-box; padding: 0; margin: 0;
}
body{
    font-family: "Montserrat", sans-serif; font-size: 13px;
    overflow-x: hidden; width: 100vw;
}
header{
    height: 100px; background-color: black; color: white;
}
.header{
    max-width: 1140px; height: 100px; margin: auto;
    display: flex; align-items: center;
}
.logo{
    width: 100px;
}
.logoimg{
    width: 80px; height: 80px; background-color: #B28756;
    border-radius: 50%;
}
.menu{
    flex: 1; display: flex; justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu a{
    color: white; text-transform: uppercase; font-weight: 600;
    text-decoration: none; padding-left: 10px; 
    padding-right: 10px; display: flex; height: 100px;
    align-items: center; border-bottom: 5px solid black;
}
.menu a:hover, .menu .active{
    border-bottom: 5px solid #B28756; color: #CCC;
}
.banner{
    height: calc(100vh - 100px); background-color: gray;
    background-image: url(../images/bg.jpg); background-position: bottom;
    background-size: cover; overflow: hidden;
}
.banner .sliders{
    width: 1000vw; height: 100%; 
}
.banner .slide{
    width: 100vw; height: 100%; display: inline-block; 
    background-color: rgba(0,0,0,0.8);
}
.banner .slidearea{
    display: flex; align-items: center; justify-content: center;
    color: white; height: 100%; flex-direction: column;
}
.banner h1{
    text-transform: uppercase; font-weight: bold; font-size: 50px;
}
.banner span{
    color: #B28756;
}
.banner h2{
    text-transform: uppercase; margin-top: 20px;
}
.banner a{
    display: block; background-color: #B28756; color: white;
    text-transform: uppercase; font-size: 12px; text-decoration: none;
    padding: 10px; padding-left: 30px; padding-right: 30px; font-weight: 600;
    margin-top: 30px; border-radius: 20px;
}
.banner .sliders-pointers{
    width: 100vw; height: 20px; position: absolute; margin-top: -50px;
    display: flex; justify-content: center;
}
.banner .pointer{
    height: 15px; width: 15px; border: 1px solid #B28756;
    border-radius: 50%; cursor: pointer; margin-left: 5px; 
    margin-right: 5px;
}
.banner .active{
    background-color: #B28756;
}
.default{
    padding-top: 50px; padding-bottom: 50px;
}
.default.dark{
    background-color: black;
}
.default.light{
    background-color: #F7F7F7;
}
.default.light .section-title{
    color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color: white;
}
.default .section-title, .default .section-desc{
    text-align: center; text-transform: uppercase; font-weight: 600;
}
.default .section-title{
    font-size: 20px; 
}
.default .section-desc{
    font-size: 13px; color: #CCC; margin-top: 10px; 
    margin-bottom: 40px;
}
.default .section-body{
    max-width: 1140px; margin: auto; 
}
.section-aboutus--left a{
    background-color: #B28756; color: white;
    text-transform: uppercase; font-size: 12px; text-decoration: none;
    padding: 10px; padding-left: 30px; padding-right: 30px; font-weight: 600;
    margin-top: 30px; border-radius: 20px; display:inline-block;
}












.section-aboutus--left {
    font-size: 13px; line-height: 25px;
}
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1; 
}
.section-aboutus--right{
    width: 550px; display: flex; justify-content: flex-end;
}
.section-aboutus--right img{
    width: 460px; box-shadow: 0px 0px 10px black;
}





.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 20px;
}
.section-service:first-child{
    border-left: 1px solid #333;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}






.section-projects--filters{
    margin-bottom: 20px;
}
.section-projects--filters ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.section-projects--filters li{
    border: 1px solid #CCC;
    padding: 10px;
    border-right: none;
    background-color: #EEE;
    cursor: pointer;
    color: #555;
}
.section-projects--filters li:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.section-projects--filters li:last-child{
    border-right: 1px solid #CCC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.section-projects--filters li:hover,
.section-projects--filters .active{
    border-bottom: 4px solid #B28756;
}




.section-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
.section-projects--photos{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.section-projects--photoinfo h5{
    font-size: 21px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.section-projects a{
    background-color: #B28756; color: white;
    text-transform: uppercase; font-size: 12px; text-decoration: none;
    padding: 10px; padding-left: 30px; padding-right: 30px; font-weight: 600;
    margin-top: 30px; border-radius: 20px;
}


.bg-team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-team .sliders{
    width: 1000vw; height: 100%; 
}
.section-team .slide{
    width: 280px; height: 100%; display: inline-block; 
    background-color: white; margin-right: 20px; min-height: 300px;
}
.section-team .slidearea{
    display: flex; align-items: center; justify-content: center;
    color: white; height: 100%; flex-direction: column;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team-area .sliders-pointers{
     height: 20px;  margin-top: -50px;
    display: flex; justify-content: center;
    margin-top: 50px; 
}
.section-team-area .pointer{
    height: 15px; width: 15px; border: 1px solid #B28756;
    border-radius: 50%; cursor: pointer; margin-left: 5px; 
    margin-right: 5px;
}
.section-team-area .active{
    background-color: #B28756;
}