*{
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li, nav ul{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul li a{
    padding: 12px;
    text-decoration: none;
    display: block;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(180, 178, 175);
}
.active a, nav ul li a:hover{
    background-color: rgb(119, 150, 190);
    color: rgb(255, 255, 255);
}
#banner{
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: white;
    font-family: arial;
    font-size: 70px;
    text-shadow: 1px 1px 0 black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top:60px;
}
.banner_headline h2{
    color: white;
    font-family: arial;
    font-size: 21px;
    text-shadow: 1px 1px 0 black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    display: flex;
    height: 210px;
}
.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.banner3 h2{
    font-size: 12px;
    margin-top: 20px;
}
.banner3_div1, .banner3_div2, .banner3_div3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(144, 163, 192);
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #39aae1;
    margin-top: 10px;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background: blue;
    color: white;
    padding: 10px;
    font-size: 12px;
}
article .news_comments{
    background: #39aae1;
    color: white;
    padding: 10px;
    font-size: 12px;
    margin-left: 5px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: black;
}
article .news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}
footer{
    background: #1e1e1e;
    display: flex;
    justify-content: center;
}
footer .footer_menu{
    display: flex;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: white;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
}

.flexColumn{
    flex-direction: column;
}
.footer_area{
    display: flex;

}
.footer_areaitem{
    flex: 1;
}
footer .widget_title_text{
    color: white;
}
footer .footer_copy{
    border-top: 1px solid #2c2c2c ;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
    color: white;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    color: white;
}
.footer_menu h1{
    font-size: 20px;
}
.footer_menu h2{
    font-size: 10px;
}
.footer_medicenter_about h2{
    font-size: 15px;
    color: gray;
    font-weight: 100;
}
.footer_about_top_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 20px;
}
.footer_about_div{
    color: gray;
    display: flex;
    justify-content: space-between;
}
.footer_about_div h2{
    font-size: 12px;
    font-weight: 100;
    padding: 0;
    margin: 0;

}
footer .footer_posts{
    padding: 0;
    margin-left: 20px;
}
footer .footer_posts_item a{
    display: block;
    color: white;
    text-decoration: none;

}
footer .footer_posts_item h2{
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.footer_posts_item h3{
    color: #39aae1;
    font-size: 10px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 5px;
}

footer .footer_tweets{
    padding: 0;
    margin-left: 20px;
}
footer .footer_tweets_item a{
    display: block;
    color: gray;
    text-decoration: none;

}
footer .footer_tweets_item h2{
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: gray;
}
.footer_tweets_item h3{
    color: #39aae1;
    font-size: 10px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0;
}
.footer_tweets_item a{
    display: block;
}
.footer_tweets_item a:hover{
    border-bottom: 1px solid white;
}