*{
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li, nav ul{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul li a{
    padding: 12px;
    text-decoration: none;
    display: block;
    font-family: arial;
    text-transform: uppercase;
    color: rgb(180, 178, 175);
}
.active a, nav ul li a:hover{
    background-color: rgb(119, 150, 190);
    color: rgb(255, 255, 255);
}
#banner{
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: white;
    font-family: arial;
    font-size: 70px;
    text-shadow: 1px 1px 0 black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top:60px;
}
.banner_headline h2{
    color: white;
    font-family: arial;
    font-size: 21px;
    text-shadow: 1px 1px 0 black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    display: flex;
    height: 210px;
}
.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_tittle{
    font-size: 21px;
}
.banner_description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.banner3 h2{
    font-size: 12px;
    margin-top: 20px;
}
.banner3_div1, .banner3_div2, .banner3_div3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(144, 163, 192);
}