*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.area1{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button1{
    padding: 30px;
    font-size: 20px;
}
.verde{
    background-color: green;
    color: black;
}
.preto{
    background-color: black;
    color: white;
}
