*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(142, 142, 196);
    color: white;
    text-shadow: 1px 1px 1px black;
}
#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid gray;
}
.vermelho{
    background: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}